/* 
    Document   : homePage
    Created on : 2013-9-27, 10:23:07
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
#homePageLeftContent{
    font-size: 14px;
    color: #656565;
    font-family: Arial;
}
#homePageLeftContent a {text-decoration:none;color: #656565;;}
#homePageLeftContent a:visited {text-decoration:none;} 
#homePageLeftContent a:hover {color: #656565; text-decoration:underline; } 



#homePageRightContnt{
    float: left;
}
#homePageRightContnt a {text-decoration:none;color: #656565;}
#homePageRightContnt a:visited {text-decoration:none;} 
#homePageRightContnt a:hover {color: #00b5e2; text-decoration:underline; } 

#homePageRightContnt  ul li {
    /*   height: 25px;*/
    padding-top: 19px;
    line-height: 17px;
}