/* 
    Document   : research
    Created on : 2013-9-29, 14:36:26
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.leftAction{
    border: solid 1px #ccc;
    width: 180px;
    height: 270px;
    float:left;
}
.rightAction{
   background-image: url("../image/smallbackg.png");
    height: 541px;
    margin-left: 210px;
    width: 708px;
}

.researchTitle{
    color: #373737;
    display: inline-block;
/*    width: 500px;*/
    /*    float:left;*/
    font-size:18px;
/*    font-weight:bold;*/
    height: 25px;
    text-indent:5px;
/*    cursor: pointer;*/
    margin-top: -22px;
    font-family: arial,Sylfaen;
    *height:60px;
    *width:500px;
    *float:left;
   *line-height: 105px;
}
.researchTitle:hover{
    color: #373737;
    display: inline-block;
/*    width: 500px;*/
    /*    float:left;*/
    font-size:18px;
/*    font-weight:bold;*/
    height: 25px;
    text-indent:5px;
/*    cursor: pointer;*/
    margin-top: -22px;
    font-family: arial,Sylfaen;
    *height:60px;
    *width:500px;
    *float:left;
   *line-height: 105px;
}
.researchContent{
color: #656565;
    font-family: 'gautami';
    font-size: 14px;
    line-height: 22px;
    padding-left: 6px;
    width: 630px; 
    text-align: justify;
    *margin-top: 15px;
}